<mat-tree>
        <mat-nested-tree-node>Java 8, Java 17</mat-nested-tree-node>
        <mat-nested-tree-node>Spring, Spring Boot, Spring Data</mat-nested-tree-node>
        <mat-nested-tree-node>Hibernate, JPA</mat-nested-tree-node>
        <mat-nested-tree-node>ORM Databases
            <mat-tree-node>Postgres</mat-tree-node>
            <mat-tree-node>MySQL</mat-tree-node>
            <mat-tree-node>Oracle</mat-tree-node>    
        </mat-nested-tree-node>
        <mat-tree-node>TDD with JUnit/Spock</mat-tree-node>
        <mat-tree-node>Frontend Basics of:</mat-tree-node>
        <mat-tree-node>HTML/CSS/JS</mat-tree-node>
        <mat-tree-node>Angular/React</mat-tree-node>
        <mat-tree-node>Bootstrap</mat-tree-node>    
</mat-tree>

