<div class="card-text">
  <div class="h4">Public sector project in taxation area, 2019-2023</div>
  <div class="h5">Role: IT Consultant (Java/DevOps)</div>
  <span class="h6">Tech stack:</span>
  <ul class="p-0 list-unstyled flex-wrap">
    <li class="me-2 badge badge-success">Jenkins</li>
    <li class="me-2 badge badge-success">Docker</li>
    <li class="me-2 badge badge-success">Openshift/Kubernetes</li>
    <li class="me-2 badge badge-primary">Java 8</li>
    <li class="me-2 badge badge-primary">Spring Boot</li>
    <li class="me-2 badge badge-primary">Hibernate</li>
    <li class="me-2 badge badge-secondary">Oracle Database</li>
    <li class="me-2 badge badge-secondary">Postgres</li>
    <li class="me-2 badge badge-secondary">Weblogic</li>
    <li class="me-2 badge badge-warning text-dark">Angular</li>
  </ul>
  <span class="h6">Responsibilities:</span>
  <ul>
    <li>Development and maintenance of web applications in Java 8 with React/Angular
      which accelerates project's collaborators (developers, testers, project management and QA teams) daily work.
    </li>
    <li>Development and maintenance of CI/CD pipelines and dev/staging environments.</li>
    <li>Providing a DevOps support for other teams in project.</li>
  </ul>
  <span class="h6">Personal achievements:</span>
  <ul>
    <li>Learning DevOps skills from scratch. I did not choose DevOps; DevOps chose me.</li>
  </ul>
  <span class="h6">Project Management:</span>
  <ul>
    <li>Collaboration in multinational teams in SAFe Methodology.</li>
    <li class="me-2 badge badge-dark">Jira</li>
    <li class="me-2 badge badge-dark">Confluence</li>
    <li class="me-2 badge badge-dark">Github</li>
  </ul>
</div>
