<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>contact me</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="company" formControlName="company">
              <mat-error *ngIf="addressForm.controls['company'].hasError('required')">company is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="email" placeholder="email ie.: you@yourcompany.com" formControlName="email">
              <mat-error *ngIf="addressForm.controls['email'].hasError('required')">email is <strong>required</strong></mat-error>
              <mat-error *ngIf="addressForm.controls['email'].hasError('incorrect')">email is <strong>incorrect</strong></mat-error>
              </mat-form-field>
        </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput type="text" placeholder="Message title" formControlName="messageTitle">
              <mat-error *ngIf="addressForm.controls['messageTitle'].hasError('required')">Messege title is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Message" formControlName="message"></textarea>
              <mat-error *ngIf="addressForm.controls['message'].hasError('required')">Message is <strong>required</strong></mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>
  