<div class="btn-group-lg d-flex justify-content-center">
  <div class="d-flex justify-content-center align-items-center align-items-stretch">
    <button class="btn btn-link btn-lg" [mdbTooltip]="'Copy email'" (click)="copyText('promucha@gmail.com')"
            role="link" mdbRipple>
      <i class="fas fa-at fa-2x"></i>
    </button>
    <a class="btn btn-link btn-lg" [mdbTooltip]="'Open Github Profile'" href="https://www.github.com/alerGeek"
       target="_blank" role="button" mdbRipple>
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a class="btn btn-link btn-lg" [mdbTooltip]="'Open Spotify Profile'" href="https://open.spotify.com/user/promucha?si=80348719399f436e"
       target="_blank" role="button" mdbRipple>
      <i class="fab fa-spotify fa-2x"></i>
    </a>
  </div>
</div>
