  <mat-toolbar color="primary">
    <div class="row">
        <button mat-icon-button class="example-icon" routerLink="home">
          <mat-icon>menu</mat-icon>
        </button>
        <span>alerGeek's home.</span>
        <button mat-flat-button color="primary" routerLink="projects">projects</button>
        <button mat-flat-button color="primary" routerLink="about">about me</button>
        <button mat-flat-button color="primary" routerLink="contact">contact</button>
    </div>
  </mat-toolbar>