<div class="content-wrapper">
  <h1 class="card-subtitle mb-2 text-muted">As an</h1>
  <p class="card-text">IT developer,</p>
  <h1 class="card-subtitle mb-2 text-muted">I want to</h1>
  <p class="card-text">Master my programming skills and gain new knowledge in Java and software architecture
    direction,</p>
  <h1 class="card-subtitle mb-2 text-muted">So that</h1>
  <p class="card-text">I could deliver stable and easy-to-maintain software solutions.</p>
  <div class="card-text mt-5">
    <h6 class="text-muted card-text">
      //* As a person - fan of music, water sports, losing in cities and Sudoku puzzles. */
      <br/>
    </h6>
  </div>
</div>
