<mat-card>
    <mat-card-title>About me</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
              <span matListItemTitle>As a</span>
              <span matListItemLine>Java Developer with 3 years of proffesional experience and DevOps background</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>I want to</span>
              <span matListItemLine>master mine programming skills and get the new knowledge in Java and software architecture direction</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>So that</span>
              <span matListItemLine>I could deliver stable, reliable and easy in further maintenance solutions.</span>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
</mat-card>