<div class="card-text">
  <div class="h4">Public sector project in taxation area, 2019-2023</div>
  <div class="h5">Role: IT Consultant (Java/DevOps)</div>
  <ul class="p-0 list-unstyled flex-wrap"></ul>
  <span class="h6">Responsibilities:</span>
  <ul>
    <li>
      Development and maintenance of web applications in Java 8 with React/Angular which accelerates project's
      collaborators (developers, testers, project management and QA teams) daily work.
    </li>
    <app-skill-element skillName="Java8"></app-skill-element>
    <app-skill-element skillName="Spring"></app-skill-element>
    <app-skill-element skillName="JPA"></app-skill-element>
    <app-skill-element skillName="Postgres"></app-skill-element>
    <app-skill-element skillName="Angular"></app-skill-element>
    <li>Development and maintenance of CI/CD pipelines and dev/staging environments.</li>
    <app-skill-element skillName="Oracle Database"></app-skill-element>
    <app-skill-element skillName="Weblogic"></app-skill-element>
    <app-skill-element skillName="Jenkins"></app-skill-element>
    <app-skill-element skillName="Docker"></app-skill-element>
    <app-skill-element skillName="Openshift"></app-skill-element>
    <app-skill-element skillName="Kubernetes"></app-skill-element>
    <li>Providing a DevOps support for other teams in project.</li>
  </ul>
  <span class="h6">Personal achievements:</span>
  <ul>
    <li>Learning DevOps skills from scratch. I did not choose DevOps; DevOps chose me.</li>
  </ul>
  <span class="h6">Project Management:</span>
  <ul>
    <li>Collaboration in multinational teams in SAFe Methodology.</li>
    <app-skill-element skillName="Jira"></app-skill-element>
    <app-skill-element skillName="Confluence"></app-skill-element>
    <app-skill-element skillName="Github"></app-skill-element>
  </ul>
</div>
